# GEMINI_API_KEY: Required for Gemini AI API calls.
# This is a placeholder key.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY=MY_GEMINI_API_KEY
ONESIGNAL_REST_API_KEY=os_v2_app_qwu3she3jneynazrqora5zfb6k7cgy43lowuim5k35itz4uvy6nyxjd3wcdezzgeczou6575w6ejvszoaooqj7w5f7vba3vslr2zz3q
